/* Targeting featured post specifically */
.feature__item,
.archive__item {
  border: none !important; /* Remove any border */
  background-color: transparent !important; /* Ensure no background color */
}

.feature__item img,
.archive__item img {
  border: none !important; /* Remove any border around images */
}

